/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Roboto:wght@300;400;500&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

img {
  width: 100%;
}

.container {
  margin: auto;
}

.users_container {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}

.users_container li {
  padding: 10px;
  margin: 0 auto;
}

.lists-user {
  display: flex;
  gap: 20px;
}

.user-info {
  width: 70%;
  border: 2px solid;
  border-radius: 6px;
  padding: 1em;
}

.user-img {
  width: 20%;
  padding-top: 0.5em;
}

.user-info h2 {
  margin-bottom: 1em;
  font-weight: 600;
  font-size: 2em;
}

.user-info p {
  text-align: right;
}

.user-bio {
  width: 94%;
  margin: 0 auto;
  padding: 20px;
  margin-top: 1em;
  border: 2px solid;
  border-radius: 6px;
}

.user-bio h3 {
  margin-bottom: 20px;
  border-bottom: 1px solid black;
}

.user-details h2 {
  margin-bottom: 1.25em;
}

.link_user_posts {
  border: 2px solid;
  width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.25em;
  margin: 1.5em auto;
  font-weight: bold;
}

.comments-likes {
  display: flex;
  justify-content: flex-end;
  gap: 1em;
}

ul.post.users_container li {
  border: none;
  padding: 0;
}

.post-comments,
.post_container {
  padding: 0.5em;
  border: 2px solid;
  border-radius: 4px;
}

ul.post.users_container li .user-post,
ul.post.users_container li .post-comments {
  border: 2px solid;
  padding: 0.5em;
}

.post_header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1em;
}

ul.users.users_container li {
  border: 2px solid;
  border-radius: 5px;
}

form.button_to button {
  border: none;
  background: transparent;
  display: flex;
  font-size: 1em;
  cursor: pointer;
}

span.likesBtn {
  display: flex;
}

.likes-comments {
  display: flex;
  gap: 0.5em;
}

.field {
  width: 75%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 0.25em;
}

form,
form.comment-form {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  margin: 0 auto;
  width: fit-content;
}

form h1,
.comment-form h1 {
  margin-bottom: 0.5em;
}

input.submit-btn {
  border: 1px solid;
  width: fit-content;
  padding: 0.25em;
  font-weight: bold;
}

textarea#comment_text {
  width: 25em;
  padding: 0.75em;
  height: 5em;
  border: 1px solid gray;
  font-size: 1em;
}
